// Color Pallete -----------------------/
$gray: #777;
$turquoise: #58e1c1;
$light-tomato: #fd7856;
$light-blue: #51ddfc;
$white: #fff;
$img-frame-border: #ccc;

// Break-Point -----------------------/
$break: 768px;

// Spacing -----------------------/
$general-spacing: 10px;

// Lighten -----------------------/
$lighten-amount: 15%;

// Columns -----------------------/
$number-of-columns: 12;

$column-colors: 
    #927bc1,
   $light-tomato,  
    #deb2ee,
    #7ee6fd,
    #88d9a0,
    #4da2bb,
    #ec9fa3,
    #fd9f85,
    #e4757a,
    #63cc82,
    $light-blue,
    #80e8d1;